<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    <form method="POST" action="/login2/">
        {% csrf_token %}
        <label for="Phone">Phone:</label>
        <input type="text" id="Phone" name="Phone" required><br><br>
        
        <label for="Password">Password:</label>
        <input type="Password" id="Password" name="Password" required><br><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
